<DemoCom @array={{helloArray}}>
  <h2>Demo Haha</h2>
</DemoCom>

{{#if model}}
  <p>Model</p>
{{else}}
  <p>Model two</p>
{{/if}}

{{if model "one" "two"}}

<hr/>
<ul>
{{#each demo.goods as |good|}}
  <li>{{good}}</li>
{{/each}}
</ul>
{{log goods}}

<hr/>

<button onclick={{action 'addGood' 1}}>+ 1</button>
<button onclick={{action 'addGood' 2}}>+ 2</button>

<div>
  {{model.insertedAt}}

  <ul>
    {{#if model.services.isPending }}
      <div>Loading...</div>
    {{else}}
      {{#each model.services as |service|}}
        <li>{{service.name}} - {{service.description}}</li>
      {{else}}
        <li>No data</li>
      {{/each}}
    {{/if}}
  </ul>

  {{#each-in object as |key value|}}
    <div>{{key}}-{{value}}</div>
  {{/each-in}}

  <ul>
    {{#if model.places.isPending }}
      <div>Loading...</div>
    {{else}}
      {{#each model.places as |place|}}
        <li>{{place.address}}</li>
      {{/each}}
    {{/if}}
  </ul>
</div>

{{outlet}}